proxy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ProxyConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="serverUrls">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="serverUrl">
								<xs:complexType>
									<xs:attribute name="url" type="xs:string" use="required" />
									<xs:attribute name="matchAll" type="xs:boolean" use="required" />
									<xs:attribute name="token" type="xs:string" use="optional" />
									<xs:attribute name="dynamicToken" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="mustMatch" type="xs:boolean" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>